body {
    background-color: #f6f6f6;
    font-family: Microsoft YaHei;
    color: #333;
}
.subpage {
    width: 1200px;
    min-height: 644px;
    margin: 0 auto;
}
#user_centerMenu {
    width: 208px;
    min-height: 100px;
    float: left;
    margin-top: 12px;
    margin-bottom: 12px;
}
#user_menuItems {
    width: 206px;
    min-height: 100px;
    float: left;
    background-color: #fff;
    border: 1px solid #C8C8C8;
    font-size: 14px;
}
#user_menu_ul {
    width: 100%;
    color: #494949;
    overflow: hidden;
    margin-left: -40px;
    margin-top: -0.5px;
}
.user_menu_title {
    cursor: pointer;
    background-color: #f1f1f1;
    width: 100%;
    line-height: 42px;
    height: 42px;
    font-weight: bold;
    background-repeat: no-repeat;
    margin-top: -1px;
}
ul li {
    list-style: none;
    float: left;
}
.prefixImg {
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
}
.prefixImg > img {
    vertical-align: -2%;
}
.menu_sub_container {
    cursor: pointer;
    padding-left: 0px;
    width: 100%;
}
.menu_sub_ul {
    width: 100%;
}
.menu_sub_ul > li {
    float: left;
    width: 186px;
    height: 37px;
    line-height: 37px;
    cursor: pointer;
    border-bottom: 1px solid #efefef;
    list-style-type: circle;
    list-style-position: inside;
    background-color: #fff;
    position: relative;
    margin-left: -20px;
}
.menu_sub_ul > li a {
    text-decoration: none;
}
#weixinService {
    text-align: center;
    color: #4e4e4e;
    margin-bottom: 12px;
}
#weixinService .erCode {
    width: 124px;
    height: 124px;
    display: block;
    margin: 18px auto 4px;
}
.iframe_container {
    width: 989px;
    min-height: 700px;
    float: left;
    overflow: hidden;
}
#subpage_frame {
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-width: 0px;
    min-height: 1220px;
    overflow: hidden;
    margin-top: 12px;
}
.imgse{
	margin-top: -999px;
}






















































































































































































































